{
    "env": {
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "useBuiltIns": "entry"
                    }
                ],
                [
                    "@babel/preset-react",
                    {
                        "useBuiltIns": true
                    }
                ]
            ]
        },
        "development": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "useBuiltIns": "entry"
                    }
                ],
                [
                    "@babel/preset-react",
                    {
                        "useBuiltIns": true
                    }
                ]
            ]
        }
    }
}
